/* GENERAL CSS */
/* ================================================================== */
/* ================================================================== */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: color 0.4s ease, background-color 0.4s ease;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* INPUT CSS */
/* ================================================================== */
input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #002e20;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

/* TABLE CSS */
/* ================================================================== */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #003E39;
    color: white;
}

td {
    background-color: #f2f2f2;
    color: black;
}

/* SIDEBAR CSS */
/* ================================================================== */
.sidebar {
    height: 90%; 
    width: 60px;
    position: fixed;
    top: 10%; 
    left: 0;
    background-color: #002e20;
    padding-top: 20px; 
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease, background-color 0.4s ease;
    overflow-x: hidden;
    white-space: nowrap;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    z-index: 1;
}

.sidebar.active {
    width: 240px;
}

.sidebar:hover {
    width: 240px;
}

/* Main menu container */
.menu-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Logout container */
.bottom-container {
    margin-top: auto;
    padding-bottom: 20px;
}

.sidebar:hover ~ .content,
.sidebar.active ~ .content {
    margin-left: 240px;
}

.sidebar a {
    position: relative;
    margin: 4px 8px;
    padding: 12px 13px;
    text-decoration: none;
    font-size: 16px;
    color: #717F7E;
    display: flex;
    align-items: center;
    transition: 0.3s;
    border-radius: 15px;
}

.sidebar a img {
    min-width: 20px;
    height: 20px;
    margin-right: 18px;
}

.sidebar a span {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.sidebar.active a span,
.sidebar:hover a span {
    transform: translateX(0);
    opacity: 1;
}

.sidebar a:hover {
    background-color: #267058;
    color: #fff;
}

.content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    z-index: 0;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.toggle-btn:hover {
    background-color: #444;
}

/* HEADER CSS */
/* ================================================================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: #f8f9fa;
    color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: color 0.4s ease, background-color 0.4s ease;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #003E39;
}


/* DARK MODE CSS*/
/* ================================================================== */
/* ================================================================== */

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
    transition: color 0.4s ease, background-color 0.4s ease;
}

/* INPUT DARK MODE CSS */
/* ================================================================== */
body.dark-mode input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body.dark-mode input[type="submit"] {
    background-color: #002e20;
    color: white;
    cursor: pointer;
}

body.dark-mode input[type="submit"]:hover {
    background-color: #218838;
}

/* TABLE DARK MODE CSS */
/* ================================================================== */
body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
    border-color: #444;
    transition: background-color 0.4s ease;
}

body.dark-mode th {
    background-color: #444;
    color: #fff;
    transition: color 0.4s ease, background-color 0.4s ease;
}

body.dark-mode td {
    background-color: #222;
    color: #fff;
    transition: color 0.4s ease, background-color 0.4s ease;
}

/* SIDEBAR DARK MODE CSS */
/* ================================================================== */
body.dark-mode .sidebar {
    background-color: #011f1d;
    transition: width 0.3s ease, background-color 0.4s ease;
}

body.dark-mode .sidebar a {
    color: #ccc;
    transition: color 0.4s ease, background-color 0.4s ease;
}

body.dark-mode .sidebar a:hover {
    background-color: #002e20;
    color: #fff;
}

/* HEADER DARK MODE CSS */
/* ================================================================== */
body.dark-mode .header {
    background-color: #121212;
    color: #ffffff;
    transition: color 0.4s ease, background-color 0.4s ease;
}

body.dark-mode .header h1 {
    color: white;
}